* Sidebar Styles */

.nav-pills > li > a {
    border-radius: 0;
}

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    position: fixed;
    left: 0;
    width: 0;
    height: 100%;
    background: #000;
    transition: all 0.5s ease;
    z-index: 1000;
    overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#sidebar-wrapper.hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}

#sidebar-wrapper.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease;
}

#page-content-wrapper {
    position: relative;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 15px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
    padding: 10px 15px;
    transition: background 0.3s ease, border-left 0.3s ease;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-left: 4px solid red;
}
